.navigation__link {
  margin: 6px 0 0;
  font-family: 'Inter', Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #ffffff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: none;
  opacity: 1;
  transition: 1s;
}

.navigation__link:hover {
  text-decoration: underline;
  opacity: 0.8;
}
