.popup__container {
  width: 430px;
  min-height: 181px;
  background: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

@media screen and (max-width: 900px) {
  .popup__container {
    width: 282px;
    min-height: 100px;
  }
}
